body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-x: hidden;
}
*, :after, :before, html{
    box-sizing: border-box;
}
html{
    color: #555;
}
#particles-js{
    width: 100%;
    z-index: -1;
    /* height: 99vh; */
    /* background-color: #f0f2f5; */
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: fixed;
}
h1, h2, h3, h4, h5, h6{
    font-weight: bold;
}
